body {
  font-family: "Ubuntu", sans-serif;
  background-color: #ddeaf8;
}

.container {
  width: min(100%, 1440px);
  margin: auto;
}

/*      header      */
header {
  background-color: #284069;
  padding: 53px 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 50px;
}

.active {
  color: #f56013;
}

.inactive {
  color: #ddeaf8;
}

.active,
.inactive {
  font-size: 24px;
  font-weight: 500;
}

/*     cards section     */
.cards-section {
  background-color: #ddeaf8;
  padding: 98px 94px;
  display: flex;
  flex-direction: column;
}

.cards-section h2 {
  color: #f56013;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: left;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: calc((100% - 60px) / 3);
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

.card-btn {
  width: 145px;
  height: 44px;
  margin: 20px;
  margin-top: auto;
  align-self: flex-end;
  background-color: #f56013;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

/*          footer          */
footer {
  background-color: #284069;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer-ul {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.footer-ul li {
  display: flex;
}
